beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
idna==2.6
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.2
pandas==0.22.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.3
requests==2.18.4
six==1.11.0
urllib3==1.26.5
google-api-python-client==1.12.8
google-auth==1.31.0
google-auth-oauthlib==0.4.1
dropbox==11.10.0
python-dotenv==0.17.1